POSTGRES_DB=jobtracker
POSTGRES_USER=jobtracker
POSTGRES_PASSWORD=password
APP_PUBLIC_BASE_URL=http://localhost:8080
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_FROM=no-reply@localhost
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_SMTP_AUTH=false
MAIL_SMTP_STARTTLS=false
SESSION_COOKIE_SECURE=false
